.button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;

    background-color: #f5c518;
    color: #121212;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    /* Initial state for transition */
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s ease-in-out;
}

.button:hover {
    background-color: #f8d44e;
    transform: scale(1.1);
    transition: background-color 0.2s, transform 0.2s;
}

.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
